<div class="row">
	<div class="col-xs-12">
		<h2>Instrucciones</h2>
		<p>Usalo con cariño.</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h2>Creado en</h2>
		<div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.539383346219!2d-103.41560099999997!3d20.606860000000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ad58aa5ba371%3A0x504aca265b96052a!2sITESO!5e0!3m2!1ses-419!2smx!4v1422370124958"></iframe>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h2>Creado por</h2>
		<p>Guillermo Iván Jiménez Ruvalcaba</p>
	</div>
</div>